/*
TM Creator - Little software for TrackMania files packaging
Copyright (C) 2008-2013  Cokie

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/

#include "define.h"


#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) | defined(AFX_TARG_FRA)

#ifdef _WIN32
LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
#pragma code_page(1252)
#endif //_WIN32


window DIALOG 0, 0, 200, 100
STYLE WS_POPUPWINDOW
FONT 8, "MS Sans Serif"
CAPTION "Extraction..."
BEGIN
    DEFPUSHBUTTON      "Annuler", IDP_CANCEL, 160, 75, 30, 15
    LTEXT              "Copie du fichier 0 sur 0", IDT_COUNT, 10, 10, 180, 10
    LTEXT              "...", IDT_ADRESS, 10, 25, 180, 16
END


password DIALOG 0, 0, 160, 30
STYLE WS_POPUPWINDOW
FONT 8, "MS Sans Serif"
CAPTION "Mot de passe"
BEGIN
    EDITTEXT           IDE_PWD, 10, 11, 100, 12, ES_AUTOHSCROLL | ES_PASSWORD
    DEFPUSHBUTTON      "Ok", IDP_OK, 120, 10, 30, 15
    EDITTEXT           IDE_MEMORY, 1000, 1000, 100, 12, ES_AUTOHSCROLL | ES_PASSWORD
END


end DIALOG 0, 0, 300, 150
STYLE WS_POPUPWINDOW
FONT 8, "MS Sans Serif"
CAPTION "Fichiers copiés"
BEGIN
END


#endif    // French (France) resources


CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "base.exe.manifest"
icoKey ICON "key.ico"
icoGbx ICON "gbx.ico"
